body{
    background-color: black;
    color: white;
    fonte-family: "chakra Petch"sans-serif;
}

.chamada {
    background: rgb(82, 71, 94);
    padding-bottom: 80px;
            padding-top: 80px;
            display : flex ;
            justify-content: center ;
    }
     .chamada-texto{
    margin-right: 5%;
    
    }
    
    img{
        height: 200px;
    }

    .categoria-videos{
        display: flex;
        overflow-x: auto;
        gap: 10px;
    }
    .chamada {

    }
 . { categoria
}