body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
  }
.chamada {
    background: rgb(82, 71, 94);
    padding-bottom: 80px;
            padding-top: 80px;
            display : flex ;
            justify-content: center ;
    }
     .chamada-texto{
    margin-right: 5%;
    
    }
    
    img{
        height: 200px;
    }

    .categoria-videos{
        display: flex;
        overflow-x: auto;
        gap: 10px;
    }.categoria-videos {
        display: flex;
        overflow-x: auto;
        gap: 10px;
    }
    
    .categoria {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 50px;
      }    

    h1 
    font size 40: px;

    p
    font size 20: px;

}

 