body{
    background-color: black;
    color: white;
}

section {
    background: rgb(82, 71, 94);
    padding-bottom: 80px;
            padding-top: 80px;
            display : flex ;
            justify-content: center ;
    }
    div { margin-right: 20px;
    
    }
    
    
    
